
.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
/* body{
  background-image: url("img3.jpg");

} */

.division{
  -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}
 h1{
font-size: 2.5em;
color:#24b129;
display: flex;
justify-content: flex-start;
padding-left: 1em;

margin: 0%;
} 
.mainp{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sp{
  color:#1e8115;
  font-family:'Nunito', sans-serif;
}
table, th,td {
  border-right-width: 0%;
  border-left-width: 0%;
  border-bottom:0.3px solid black;
  text-align: left;
}
colorp{
  color:#e5ebe6;
}
.icon{
  margin-left: 30%;
  margin-right: 0%;
  padding: 0%;
  display: flex;
  width: 4em;
  height:auto;
}
.misc{
  display: flex;
  justify-content: flex-end;
  font-size: 1.3em;
  margin-top: 1%;margin-left: 4%;
  color: #23a317;
}

.navb{
  display: flex;
  justify-content: flex-start;
  font-size: 2.5em;
  font-family:Poppins;
  margin-top: 1%;
  margin-left: 1%;
  /* font-family: 'Newsreader', serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #28a745;
  border:2px solid #197e30;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 60%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover{
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.28), 0 17px 50px 0 rgba(0,0,0,0.29);
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.button2 {
  display: inline-block;
  padding: 5px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #24b129;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px #999;
}

.button2:hover {background-color: #3e8e41}

.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
.newtd {
  border-color: black;
  padding: 0 0.5em 0 0.5em;
}

.mainpage{
  font-size: 2.4em;
  color:rgba(70, 70, 70);margin:auto;
}

.calo{
  font-size: Xx-large;
  border-bottom-width: 3px;
  border-right: 0px;
}


.bgImg{
  border-top:"10rem" ;
  /* background:`url(${background})`; */
  background-size: "cover";
  /* color:  */
  width:"100vw";
  height:"auto" ;
  background-attachment: "fixed";
  background-position: "center";
  background-color: "#464646"
}



